@page "/"
@using Blazor.Drawables.Components
@using System.Drawing

    <Canvas BackgroundColor="Color.DodgerBlue" Height="200" Width="400" OnMouseMove="Clicked">
        <Arc X="100" Y="100" Radius="100" StartAngle="0" EndAngle="100"
                StrokeColor="Color.Black" StrokeWidth="5"  Mode="Arc.ArcMode.CHORD" Color="Color.Yellow"/>
    </Canvas>
<p>(@x,@y)</p>

@code
{
    int x, y;
    void Clicked(MouseEventArgs e)
    {
        Random r = new Random(DateTime.Now.Millisecond);
        x = (int)e.ClientX;
        y = (int)e.ClientY;
    }
}